# Problem Statement:
Car Data- Here, we will apply k-means clustering for grouping the similar cars in one cluster

# Q1. Load the Cars Data and necesary modules file into Python DataFrame and view top 10 rows

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

%matplotlib inline

In [6]:
df = pd.read_csv('cars.csv')

# Q2.  Print the datatypes of each column and the shape of the dataset. Perform descriptive analysis

In [12]:
print(df.dtypes)
print(df.shape)

mpg         float64
cyl           int64
disp        float64
hp           object
wt            int64
acc         float64
yr            int64
origin        int64
car_name     object
dtype: object
(398, 9)

In [13]:
df.head()

    mpg  cyl   disp   hp    wt   acc  yr  origin                   car_name
0  18.0    8  307.0  130  3504  12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165  3693  11.5  70       1          buick skylark 320
2  18.0    8  318.0  150  3436  11.0  70       1         plymouth satellite
3  16.0    8  304.0  150  3433  12.0  70       1              amc rebel sst
4  17.0    8  302.0  140  3449  10.5  70       1                ford torino

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg         398 non-null float64
cyl         398 non-null int64
disp        398 non-null float64
hp          398 non-null object
wt          398 non-null int64
acc         398 non-null float64
yr          398 non-null int64
origin      398 non-null int64
car_name    398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

# Q3. Check for missing value check, incorrect data and perform imputation with mean, median and mode as necessary

# Q4. Perform bi variate analysis including correlation, pairplots and state the inferences

# Q5. Perform any feature engineering/transformation and remove any duplicate or irrelevant columns

# Q6. Create new data frame with standardize variables and imputation for any missing/outliers

# Q7. Create appropriate clusters with the new data set

# Q8. Identify the appropriate clusters with result from above question

# Q9. Check for no of values in each cluster and centers for each variables

# Q10. Assign the groups created above to data frame and study the characteristics for each group.